p button{
    font-family: monospace;
    font-size: 30px;
}
div button{
    border: none;
    background: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#meow {
    display: flex;
    justify-content: center;
    align-items: center;
}
#meow-image{
    margin-top: 100px;
    width: 30%;
    height: auto;
    cursor: pointer;
}
#shop:hover{
    border: 2px solid gold;
}
#shop{
    cursor: pointer;
    padding: 10px 20px;
}
